<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=emulateIE7"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>电子卷宗智能检索系统</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/detail.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div id="container" style="position: relative;">
    <div id="hd" class="ue-clear">
        <a href="/">
            <div class="logo"></div>
        </a>
    </div>
    <div class="nav">

    </div>
    <div class="cen">
        <div class="cenleft">
            <img style="width:100% ;height:100%;" src="../{{ jpgpath }}"/>


        </div>
        <div class="cenright">
              {% autoescape off %} {{ ocrText}}{% endautoescape %}


        </div>


    </div>

     <div id="foot" style="position: absolute;bottom: -30px;width: 100%;left: 0;">Copyright &copy;南京大学软件学院 版权所有
        E-mail:2625882457@qq.com
    </div>
</div>
</body>


</html>